<div>
    <div class="alert alert-danger overflow-hidden" ng-if="errorMessage">{{ errorMessage }}</div>
      <div class="border rounded  mx-1">
          <div class="row" >
        <div class="col-sm-8 mt-3 " >
       
                <div class="dropdown my-3   row">
                <span class="mx-2 col-sm-2">name</span>
                <input class=" col-sm-3" id="ex1" type="text" required  >
              
              </div>
             
              <div class="dropdown my-3   row">
                <span class="mx-2 col-sm-2">price</span>
                <input class=" col-sm-3" id="ex2" type="text" required  >
               
              </div>
              <div class="row ">
                <span class="mx-2 col-sm-2" >Description</span>
                <textarea class=" col-sm-6  " id="exampleFormControlTextarea1" rows="3" required></textarea>
              </div>
              <div class="dropdown my-3   row">
                <span class="mx-2 col-sm-2">category</span>
                <select class=" col-sm-3"  ng-change="updateMeals()"  ng-options="x.name for x in categories"  ng-model="selectedCategory">
                  <option value="" selected disabled hidden>Choose Category</option>
                </select>
                <!-- <h1>You selected: {{selectedCategory.name}}</h1> -->
              </div>
        </div>
        <div class="col-sm-4 mt-4" > 
              <img 
              src= '{{selectedPhoto}}'
              alt="..."
              class="img-thumbnail" />
            
              <input 
              type="file"
               class="form-control" 
               id="customFile" 
               onchange= "angular.element(this).scope().changePhoto(event.target.files)"
               required
                 />
           
          
         
        </div>
    </div>
    
    <div class="row" >
        <div class="col-sm-4"></div>
       
        <div class="col-sm-8  my-2 px-5">
           
        <button type="button" ng-click="saveMeal()" class=" btn btn-warning px-5 ms-5">Save</button>
    </div>
        
    </div>
      </div>
     
  </div>